body {
    margin : 0;
    background-color: rgb(190, 255, 233);
}

.mainClass {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'firstColor secondColor'
    'thirdColor fourthColor';
    grid-gap: 10px;
    border: 1px solid #ffffff;
    background-color: white;
    border-radius: 100%;
    width: 700px;
    height: 700px;

}